:root {
  --primary: #017e73;
  --light-gray: #e9e9e9;
  --gray: #c0c0c0;
  --dark-gray: #808080;
  --post-gray: #464646;
  --yellow: #ffff00;
  --blue: #0b22b8;
  --whithe: #fff;
  --black: #000;
}

* {
  font-family: "MS Sans Serif", sans-serif; /* o 'Tahoma', sans-serif; */
  font-size: 62.5%;
  box-sizing: border-box;
}

html {
  color: var(--whithe);
}

body {
  background-color: var(--primary); /* Color pastel */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

p,
li,
div {
  font-size: 1.4rem;
  margin: 0;
}

.win-border {
  border-top: 0.2rem solid var(--light-gray);
  border-left: 0.2rem solid var(--light-gray);
  border-bottom: 0.2rem solid var(--dark-gray);
  border-right: 0.2rem solid var(--dark-gray);
}

.win-border-alter {
  border-top: 0.2rem solid var(--dark-gray);
  border-left: 0.2rem solid var(--dark-gray);
  border-bottom: 0.2rem solid var(--light-gray);
  border-right: 0.2rem solid var(--light-gray);
}

.header {
  background-color: var(--gray); /* Rosa pastel */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 1rem;
  font-size: 4rem;
  padding: 1rem;
  font-weight: 600;
}

nav {
  border-top: 0.2rem solid var(--dark-gray);
  background-color: var(--gray); /* Rosa pastel */
  padding: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--whithe);
}

.header-nav {
  font-size: 1.4rem;
  margin: 0;
  min-width: 8rem;
  min-height: 2rem;
  padding: 0.2rem;
}

.header-nav:hover {
  background: var(--dark-gray);
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}

.content-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.container {
  max-width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  margin: 0 auto;
  background-color: var(--gray);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.card-heading {
  background-color: var(--blue);
  padding: 0.5rem;
  margin: 0;
}

.card-body {
  max-width: 90%;
  margin: 0 auto;
  color: var(--post-gray);
  padding: 1rem;
}

.card-text {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-link {
  color: var(--blue);
  font-weight: 600;
}

.about {
  width: 100%;
  margin: 0 auto;
  background-color: var(--gray);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.about-heading {
  background-color: var(--blue);
  padding: 0.5rem;
  margin: 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--whithe);
  color: var(--black);
  padding: 1rem;
  margin: 0.5rem 0 0 0;
}

.about-title {
  margin-bottom: 1rem;
}

.about-text {
  max-width: 90%;
  margin: 0 auto;
}